@font-face {
  font-family: 'Nanum MasIssNeunCe';
  font-weight:400;
  src: url('../font/Nanum MasIssNeunCe.ttf') format('truetype');
}

body{
  font-family: 'Nanum MasIssNeunCe', sans-serif;
  color:rgba(1,42,203);
  font-size:26px;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dt, dd, span, blockquote, address, pre,form, fieldset, table, caption, th, td, legend, label {margin:0; padding:0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration:none; color:inherit;}
input[type="button"], button {cursor:pointer;font-family: 'Nanum MasIssNeunCe', sans-serif;}
input::placeholder {font-family: 'Nanum MasIssNeunCe', sans-serif;}